In [3]:
import pandas as pd
import numpy as np

In [4]:
notas = pd.read_csv("aula0/ml-latest-small/ratings.csv")

In [7]:
notas.columns = ['userID' , 'movieID', 'rating', 'timestamp']
notas

        userID  movieID  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [8]:
notas.rating.mean()

3.501556983616962

In [9]:
notas.rating.sdv()

AttributeError: 'Series' object has no attribute 'sdv'